
<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
        h1 Test see if works
        p a message #{msg}
        ul
            li #{msg2}
            li go
            li to
            li class
        each country in countries   
            li=country.name+"  ==  "+country.capital